[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
bitfinex = {git = "git://github.com/fccoelho/bitfinex.git"}
pandas = "*"
backtrader = "*"
keras = "*"
wget = "*"
dask = "*"
holoviews = "*"
ccxt = "*"
bt = "*"
seaborn = "*"
pyfolio = "*"
bokeh = "*"
statsmodels = "*"
ffn = "*"
pipenv = "*"
jupyter-dashboards = "*"
codernitydb = "*"
python-decouple = "*"


[dev-packages]

